
<img src="http://yogeesh.me/image/yogeesh-me-logo.png" class="logo-images" width="260px">

<h2 class="text-center">An ambitious UI Developer with 3.5 years of experience on developing Web Applications which drives intuitive experience, wanted to succeed in an environment of growth, excellence and earn a job which provides me job satisfaction, self-development that help me to achieve personal as well as organizational goals.</h2>

<h4 class="text-center">When I'm not developing, I like to spend my time with my family, read , listen to  or play around . I am a pragmatic programmer adapting newer technologies as I come across. Born in Karnataka Coffee-land, living with my adorable family Outside this wired world I'm a simple, caring and fun loving "human being". I love to hang out with my friends and sometimes play cricket. So, what else? I'm 5ft 8", Sagittarius, Indian by Heart</h4>