<div class="row">
   <div class="col-xs-12">
    <ul class="nav nav-pills">
    <li style="float: right"> <a [routerLink]="['/']" ><img src="http://yogeesh.me/image/yogeeshstar.png" width="60px"></a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/aboutme']" >About Me</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/apps']" >Apps</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/blog']" >Blog</a></li>
     <li routerLinkActive="active"> <a [routerLink]="['/resume']" >Resume</a></li>
    </ul>
  </div>
 </div>