/* You can add global styles to this file, and also import other style files */


.logo-images{
    margin: auto;
    width: 35%;
    display: block;
}
 h1, h2, h3, h4, h5, h6 {
    line-height: 36px;
}